@media (orientation: landscape) {
    html{
        scroll-behavior: smooth;
    }
    body{
        margin: 0px;
        overflow-x: hidden;
    }
    .title-bar{
        position: fixed;
        z-index: 3;
        top: 0px;
        left: 0px;
        box-sizing: border-box;
        padding: 15px;
        width: 80vw;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .title-bar>div{
        background-color: white;
        box-sizing: border-box;
        padding: 15px;
        margin-right: 15px;
    }
    .show_portrait_nav_menu{
        display: none;
    }
    .blank-top-bar{
        position: absolute;
        color: white;
        text-shadow: 5px 5px 5px #3145ff;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        box-sizing: border-box;
        padding: 15px;
        font-size: 2em;
    }
    .portrait-nav-menu{
        position: fixed;
        display: block;
        z-index: 5;
        top: 0px;
        right: 0px;
        width: 19.5vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
    }
    .portrait-nav-menu>div{
        position: absolute;
        display: flex;
        align-items: center;
        right: 0px;
        height: 100vh;
        width: 19.5vw;
        background-color: #040404;
    }
    .portrait-nav-menu>div>ul>li{
        list-style-type: none;
        cursor: pointer;
    }
    #front-page-image-portrait{
        display: none;
    }
    #front-page-image-landscape{
        display: block;
    }
    .front-page-image{
        width: 80vw;
    }
    .front-page-image>img{
        width: 80vw;
    }
    .front-page-image-text-over{
        position: absolute;
        z-index: 3;
        top: 75%;
        left: 40%;
        width: 80%;
        text-align: center;
        transform: translate(-50%, -50%);
        color: #ffffff;
        font-size: 5em;
        text-shadow: 5px 5px 4px #ff3434;
    }
    .front-page-initial-text{
        text-align: center;
        box-sizing: border-box;
        padding: 10px;
        width: 80vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .front-page-initial-text>div{
        margin-top: 30px;
        margin-bottom: 30px;
        padding-left: 2%;
        padding-right: 2%;
        box-sizing: border-box;
    }
    .front-page-initial-text-1{
        font-size: 1.8em;
        letter-spacing: 3px;
    }
    .front-page-initial-text-2{
        font-size: 2em;
        color: darkolivegreen;
    }
    .front-page-initial-text-3{
        font-size: 1.8em;
    }
    .front-page-our-services{
        width: 80vw;
        height: 100vh;
        padding-top: 20vh;
        padding-bottom: 20vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: rgb(163, 159, 116);
        box-sizing: border-box;
        color: white;
        text-align: center;
    }
    .front-page-our-services-nav-left, .front-page-our-services-nav-right{
        width: 10%;
        display: flex;
        font-size: 3em;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .front-page-our-services-service{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .front-page-our-services-service>div>img{
        width: 80vh;
        height: 80vh;
    }
    #front-page-our-services-service-heading{
        display: none;
    }
    #front-page-our-services-service-heading-landscape{
        display: block;
    }
    #front-page-our-services-service-description{
        margin-left: 4%;
        margin-right: 2%;
        font-size: 1.4em;
        text-align: start;
    }
    .front-page-testimonials{
        width: 80vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: rgb(242 237 234);
        padding-top: 10%;
        padding-bottom: 15%;
        box-sizing: border-box;
        color: #301b05;
        text-align: center;
        font-size: 1.4em;
    }
    #front-page-testimonial-item{
        line-height: 2.1em;
    }
    .front-page-testimonials-nav-left, .front-page-testimonials-nav-right{
        width: 10%;
        display: flex;
        font-size: 2em;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .front-page-testimonials-testimonial{
        width: 80%;
    }
    .front-page-our-works{
        width: 80vw;
    }
    .front-page-our-works-container{
        display: flex;
        width: 100%;
        height: auto;
        overflow-y: hidden;
        padding: 5% 1% 0% 1%;
        margin-bottom: 4%;
        box-sizing: border-box;
        flex-wrap: wrap;
        justify-content: center;
    }
    .front-page-our-works-container>img{
        width: 12%;
        margin: 0.7%;
        cursor: pointer;
    }
    .front-page-our-works-title{
        font-size: 1.4em;
        padding-top: 2em;
        text-align: center;
    }
    .playwrite-tz-span {
        font-family: "Playwrite TZ", serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
    }
    .footer-details{
        width: 80vw;
        height: 100vh;
        display: flex;
        align-items: flex-start;
        background-color: #1b150d;
        color: white;
        flex-direction: row;
        justify-content: flex-start;
        box-sizing: border-box;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .footer-details>div{
        width: 30%;
    }
    .footer-details iframe{
        margin-left: 5%;
        width: 40%;
    }
    .footer-details h3{
        font-size: 1.3em;
    }
    .footer-details ul{
        list-style-type: none;
        margin-block-start: 0em;
        margin-inline-start: -2em;
        font-size: 1.3em;
    }
    .footer-details li{
        margin-bottom: 1em;
        cursor: pointer;
    }
    
    .quicksand-style{
        font-family: "Quicksand", serif;
        font-optical-sizing: auto;
        font-weight: normal;
        font-style: normal;
    }
    
    .front-page-our-works-modal{
        position: fixed;
        z-index: 7;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.9);
        display: none;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 5em;
    }
    .front-page-our-works-modal-nav-left,.front-page-our-works-modal-nav-right{
        width: 15%;
        text-align: center;
        cursor: pointer;
    }
    .front-page-our-works-modal-img>img{
        height: 80vh;
    }
    .front-page-our-works-modal-close-button{
        position: fixed;
        z-index: 8;
        top: 20px;
        right: 20px;
        width: fit-content;
        height: fit-content;
        padding: 5px;
        background-color: transparent;
        color: white;
        display: none;
        font-size: larger;
        font-weight: bold;
        border-radius: 8px 8px 8px 8px;
        cursor: pointer;
        font-size: 2em;
    }
    .front-page-about-pranami{
        width: 80vw;
        margin-top: 20vh;
        display: flex;
        flex-direction: row;
    }
    .front-page-about-pranami-div-img{
        width: inherit;
    }
    .front-page-about-pranami-div-img>img{
        width: 100%;
    }
    .front-page-about-pranami-text{
        font-size: 1.3em;
        line-height: 2em;
        width: inherit;
        box-sizing: border-box;
        padding: 0% 5% 12% 5%;
        background-color: antiquewhite;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .front-page-our-works-click-more{
        display: none;
        width: 80vw;
        text-align: center;
        margin-bottom: 20%;
    }
    .contact-whatsapp{
        position: fixed;
        z-index: 3;
        bottom: 30px;
        right: 22vw;
        /*
        left: 50vw;
        transform: translateX(-50%);
        */
        height: 45px;
        display: flex;
        align-items: center;
        background-color: white;
        box-sizing: border-box;
        padding: 1.5%;
        border: 1px solid gainsboro;
        border-radius: 5% 5% 5% 5%;
        text-decoration: none;
        font-size: larger;
        font-weight: bold;
        color: #189d0e;
    }
    .contact-whatsapp>img{
        width: 35px;
        height: 35px;
    }
    .footer_quick_links{
        display: none;
    }
}